*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

h1,h2,h3 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.container { 
box-sizing: border-box;
max-width: 1158;
max-height: 72px;
padding-left: 0;  
padding-right: 0;  
margin-left: 0; 
margin-right: 0;
}

.logo-title {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5
}

.page-nav {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 832px 24px 347px;
gap: 40px;
}

.logo-title-logo {
    color: #2e2f42;
}

.addreess-title {
    gap: 40px;
    padding: 24px ;
    font-style: normal;
}

.heading-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.op-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42
}

.ul-title {
    background-color: #FFFFFF;
}

.spdt-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.spdt-title-section {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.fon-title {
    background-color: #2e2f42;
}

.button-title {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.button-title:hover {
    background-color: #404BBF;
}

.button-title:focus {
     background-color: #404BBF;
}

.link-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: underline;
    color: #2e2f42
}

.link-title:hover, .link-title:focus {
    color: #404bbf
}


.link-title-tel {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #434455;
}

.link-title-tel:hover {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #404BBF;
}

.link-title-tel:focus {
    color: #404bbf
}

.photo-title {
    background-color: #F4F4FD;
}

.photo-list {
    background-color: #FFFFFF;
}
.footer-title {
    background-color: #2e2f42;
}

.footer-title-p {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-title-logo {
    color: #f4f4fd
}

.container-logo {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 115px;
height: 24px;
left: 156px;
top: 24px;
}

