*, *::before, *::after {
     box-sizing: border-box;
}
.header-title {
     background-color: #FFFFFF;
     padding: 20px 0;
     border-bottom: 1px solid #e739fc;
}
body {
     color: #434455;
     background-color: #FFFFFF;
     font-family: "Roboto", sans-serif;
     font-weight: 100;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 2%;
}

h1,h2,h3 {
     margin: 0;
}

p {
     margin: 0;
}

ul {
     margin: 0;
     padding-left: 0;
     list-style-type: none;
}

img {
     display: block;
}

.container { 
     box-sizing: border-box;
     max-width: 1158;
     max-height: 72px;
     padding-left: 0;  
     padding-right: 0;  
     margin-left: 0; 
     margin-right: 0;
}

/* Top line */
.logo-title {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     margin-right: 76px;
}

.nav-list {
     display: flex;
     align-items: center;
}

.page-nav {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     padding: 0;
     margin: 0;
     gap: 40px;
}

.logo-title-logo {
    color: #2e2f42;
}

.page-nav-list {
    padding: 24px 0;
}

.addreess-title {
  display: flex;
  gap: 40px;
}
/* Title and button */

.fon-title {
    background-color: #2e2f42;
    color: #fff;
    padding: 188px 0;
    text-align: center;
}

.heading-title {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 56px;
     line-height: 1.07;
     text-align: center;
     letter-spacing: 0.02em;
     color: #FFFFFF;
     margin-bottom: 30px;
     max-width: 496px;
}

.button-title {
     display: block;
     background-color: #4d5ae5;
     font-family: "Roboto", sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #FFFFFF;
     cursor: pointer;
     padding: 12px 32px;
     border:none;
     border-radius: 4px;
     min-width: 169px;
     height: 56px;
}

.button-title:hover {
     background-color: #404BBF;
}

.button-title:focus {
     background-color: #404BBF;
}

.op-title {
     font-family: "Roboto", sans-serif;
     font-weight: bold;
     font-size: 36px;
     letter-spacing: 0.02em;
     line-height: 1.11;
     text-align: center;
     text-transform: capitalize;
     color: #2e2f42;
     margin-bottom: 30px;
}

.ul-title {
    background-color: #FFFFFF;
}

.spdt-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.spdt-title-section {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.link-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: underline;
    color: #2e2f42
}

.link-title:hover, .link-title:focus {
    color: #404bbf
}


.link-title-tel {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #434455;
}

.link-title-tel:hover {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #404BBF;
}

.link-title-tel:focus {
    color: #404bbf
}

.photo-title {
    background-color: #F4F4FD;
    padding: 120px 0;
    text-align: center;
}

.photo-list {
    background-color: #FFFFFF;
}
.footer-title {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-title-p {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-title-logo {
    color: #f4f4fd
}

.spdt-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.spdt-list .item {
  width: calc((100%-32px) / 3);
}

.section-spdt {
  padding: 60px 0;
}

.container-spdt {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.our-list {
    display: flex;
    justify-content: center;
    gap: 72px;
}

.section-portfolio {
    padding: 60px 0;
}

.container-portfolio {
    display: inline-block;
   justify-content:space-between;
   align-content: center;
    gap: 20px;
}

.footer-title a {
    display: inline-block;
    margin-bottom: 16px;
}